<h2>Cuenta de <%=@user.username%></h2>

<% flash.each do |name, notice| -%>
  <%= content_tag :div, notice, class: name %>
<% end -%>

<% if @user.errors.any? %>
  <ul class="Signup_Errors">
  <% for message_error in @user.errors.full_messages %>
    <li><%= message_error %></li>
  <% end %>
  </ul>
<% end %>
<% if @user.account.errors.any? %>
    Account error:<br />
    <ul class="Signup_Errors">
    <% for message_error in @user.account.errors.full_messages %>
      <li><%= message_error %></li>
    <% end %>
    </ul>
  <% end %>

<%= form_for @user, :url => {:controller => 'users', :action => 'update'}, :html => {:class => "form-horizontal"}  do |f| %>
  <div class="control-group">
    <%= f.label "Nombre usuario", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :username%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Email", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Cambiar contraseña", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Confirmar contraseña", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation%>
    </div>
  </div>
  <%= fields_for @user.account do |account_fields| %>
    <div class="control-group">
      <%= f.label "Numero cuenta", :class => "control-label" %>
      <div class="controls">
        <%= account_fields.text_field :number %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Saldo cuenta", :class => "control-label" %>
      <div class="controls">
        <%= account_fields.number_field :balance%>
      </div>
    </div>
  <% end %>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Actualizar", :class => "btn btn-warning" %>
      </div>
    </div>
<% end %>
<hr>

<h3>Mis cartas</h3>
<% if @user.cards.any? %>
  <div class="row-fluid">
    <div class="span10">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edición</th>
            <th>Fecha de creación</th>
            <th>Precio</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.cards.each do |card| %>
            <tr>
              <td><%= card.card_type.name %></td>
              <td><%= card.card_type.edition %></td>
              <td><%= card.card_type.created_at %></td>
                <% if card.sale %>
                  <td><%= card.sale.starting_price %></td>
                  <td><%= link_to 'Editar', edit_sale_path(card.sale.id), :class => "btn btn-small btn-warning"  %></td>
                  <td><%= link_to 'Quitar oferta', sale_path(card.sale.id), method: :delete, data: {confirm:'Are you sure?'}, :class => "btn btn-small btn-danger" %></td>
                <% else %>
                  <td></td>
                  <td></td>
                  <td><%= link_to('Vender',{ :controller => "sales", :action => "new", :card_id => card.id }, method: :get, :class => "btn btn-small btn-warning")  %></td>
                <% end %>
              <td><%= link_to 'Eliminar carta', card, method: :delete, data: { confirm: '¿Estás seguro?' }, :class => "btn btn-small btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h4>- No posees ninguna carta -</h4>
<% end %> 
<div class="row-fluid">
  <div class="span2">
    <%= link_to 'Añadir carta', new_card_path, method: "get", :class => "btn  btn-success" %>
  </div>
</div>

<hr>
<div class="row-fluid">
  <div class="span1">
    <%= link_to 'Inicio', root_path, :class => "btn" %>
  </div>
  <div class="span2">
    <%= link_to 'Log Out', logout_path, method: "get", :class => "btn btn-warning" %>
  </div>
</div>
<br />
<br />
