<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
  <h2>Log in</h2>
  <% flash.each do |name, notice| -%>
    <%= content_tag :div, notice, class: name %>
  <% end %>
  <br />
	<div class="row">
	  	<div class="offset1">
			<%= form_tag(:action => 'login_attempt') do %>
				<p>Usuario o Email</br> <%= text_field_tag(:username_or_email) %></p> 
				<p>Password</br> <%= password_field_tag :login_password %></p> 
			<%= submit_tag("Log In", :class => "btn btn-success") %>
		</div>
	</div>
  <% end %>
</div>
<hr>
<%= button_to('Inicio', root_path, method: "get", :class => "btn") %>
