<h1>Bid for a Card</h1>

<% if @bid.errors.any? %>
  <ul class="Bidding_Errors">
  <% for message_error in @bid.errors.full_messages %>
    <li><%= message_error %></li>
  <% end %>
  </ul>
<% end %>

Card Name: <%= @card_type.name %></br>
Price: <%= @low_price.to_f * (@earn.to_f + @george.to_f - 1) %></br>

  <%= form_for @bid, :url => {:controller => 'bids', :action => 'create'} do |f| %>
    Your bid: <%= f.number_field :value%></br>
    <%= f.submit :Bid %>
  <% end %>

<%= link_to 'Añadir Tipo de Carta', new_card_type_path %>

<%= link_to 'Inicio', controller: "welcome" %>
