<h1>¡Bienvenido a MeYoda!</h1>

<p>Gracias por confiar en nosotros para la compraventa de cartas de Star Wars</p>
<p><%= link_to 'Tipos de cartas' , card_types_path %></p>
<p><%= link_to 'By Cards' , buy_path %></p>
<p><%= link_to 'Cartas' , cards_path %></p>
<%= link_to "See all selling cards", sales_path %>
<%= button_to('Users', users_path, method: "get") %>
<%= render "sessions/logger" %>
<% if session[:user_id] %>
<%= button_to('Home', home_path, method: "get") %>
<% end %>
