<h2>¡Bienvenido a MeYoda!</h2>

<p>Gracias por confiar en nosotros para la compraventa de cartas de Star Wars</p>
<%= button_to 'Tipos de cartas' , card_types_path, method: :get, :class => "btn span2" %>
<%= button_to 'Cartas' , cards_path, method: :get, :class => "btn span2" %>
<%= button_to 'Users', users_path, method: "get", :class => "btn btn-primary span2" %>
<%= render "sessions/log" %>
<% if session[:user_id] %>
<%= button_to('Home', home_path, method: "get") %>
<% end %>
