<h2>¡Bienvenido a MeYoda!</h2>

<p>Gracias por confiar en nosotros para la compraventa de cartas de Star Wars</p>
<br />
<% if session[:user_id] %>
	<div class="row">
		<div class="span3">
			<%= link_to 'Mi cuenta', home_path, :class => "btn span2" %>
	  	</div>
	</div>
<% else %>
	<div class="row">
		<div class="span3">
			<%= link_to 'Usuarios', users_path, :class => "btn span2" %>
	  	</div>
	</div>
<% end %>
<br />
<div class="row">
	<div class="span3">
		<%= link_to 'Tipos de cartas' , card_types_path, :class => "btn span2" %>
  	</div>
</div>
<br />
<div class="row">
	<div class="span3">
		<%= link_to 'Cartas' , cards_path, :class => "btn span2" %>
  	</div>
</div>
<br />
<div class="row">
	<div class="span3">
		<%= link_to 'Ventas' , sales_path, :class => "btn span2" %>
  	</div>
</div>
<br />
<div class="row">
	<div class="span3">
		<%= link_to 'Comprar cartas' , buy_path, method: :get, :class => "btn span2" %>
  	</div>
</div>
