<p>
<<<<<<< HEAD
	<strong>Nombre:</strong> <%= @card_type.name %>
</p>

=======
	<strong>ID:</strong> <%= @card_type.id %>
</p>
<p>
	<strong>Nombre:</strong> <%= @card_type.name %>
</p>
>>>>>>> 204073be7cfe6a58469c6377091f9a1e2a7f478d
<p>
	<strong>Edición:</strong> <%= @card_type.edition %>
</p>

<<<<<<< HEAD
<%= link_to 'Continuar', card_types_path %>
=======
<%= link_to 'Editar', edit_card_type_path(@card_type) %> |
<%= link_to 'Atras', card_types_path %>
>>>>>>> 204073be7cfe6a58469c6377091f9a1e2a7f478d
