<%= form_for @card do |f| %>
  <% if @card.errors.any? %>
    <p>
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= f.fields_for :card_types do |fu| %>
    <p>
      <%= fu.label :name %><br>
      <%= fu.select :name, @card_types.map { |t| [t.name, t.name]} %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>