<<<<<<< HEAD
<h1>Editing card</h1>

<%= render 'form' %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
=======
<h1>Edtar carta</h1>

<%= render 'form' %>

<%= link_to 'Ver', @card %> |
<%= link_to 'Atras', cards_path %>
>>>>>>> 204073be7cfe6a58469c6377091f9a1e2a7f478d
