<h1>Listado de cartas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Edición</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.card_type.name %></td>
        <td><%= card.card_type.edition %></td>
        <td><%= link_to 'Ver', card %></td>
        <td><%= link_to 'Modificar', edit_card_path(card) %></td>
        <td><%= link_to 'Eliminar', card, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Añadir Carta', new_card_path %>
<%= link_to 'Inicio', controller: "welcome" %>