<h2>Listado de cartas</h2>

<div class="row-fluid">
  <div class="span7">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Edición</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cards.each do |card| %>
          <tr>
            <td><%= card.id %></td>
            <td><%= card.card_type.name %></td>
            <td><%= card.card_type.edition %></td>
            <td><%= link_to 'Ver', card, :class => "btn btn-info btn-small" %></td>
            <td><%= link_to 'Eliminar', card, method: :delete, data: { confirm: '¿Estás seguro?' }, :class => "btn btn-small btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br />
<div class="row-fluid">
  <div class="span1"><%= link_to 'Inicio', root_path, :class => "btn" %>
  </div>
  <div class="span2"><%= link_to 'Añadir Carta', new_card_path, :class => "btn btn-success" %>
  </div>  
</div>

