<p>
  <strong>ID:</strong>
  <%= @card.id %>
</p>

<p>
  <strong>Cardtype:</strong>
  <%= @card.card_type.id %>
</p>

<p>
  <strong>Consulta:</strong>
  <%= 	card_type = CardType.new
		
		if (card_type = CardType.find_by(:name => 'Yoda', :edition => 'StarWars')) != nil
			card_type.id
		else
			'nil'
		end
  		%>
</p>
<p>
  <%= @card.card_type.id %>
</p>

<%= link_to 'Editar', edit_card_path(@card) %> |
<%= link_to 'Atras', cards_path %>
