<p>
  <strong>ID: </strong>
  <%= @card.id %>
</p>
<p>
  <strong>Nombre: </strong>
  <%= @card.card_type.name %>
</p>

<p>
  <strong>Edición: </strong>
  <%= @card.card_type.edition %>
</p>

<!-- ROTO - Arreglar en controlador <%= link_to 'Editar', edit_card_path(@card) %> |-->
<%= link_to 'Atras', cards_path %>