<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @card.code %>
</p>

<p>
  <strong>Cardtype:</strong>
  <%= @card.CardType %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
