<h2>Cartas a la Venta</h2>

<div class="row-fluid">
  <div class="span6">
    <table class="table">
      <thead>
      	<tr>
          <th>ID Venta</th>
        	<th>Carta</th>
        	<th>Precio Inicial</th>
          <th>Usuario</th>
      	</tr>
      </thead>
      <tbody>
      	<% @sale.each do |sale| %>
      		<tr>
        		<td><%= sale.id %> </td>
            <td><%= sale.card.card_type.name %> </td>
            <td><%= sale.starting_price %> €</td>
            <td><%= sale.card.user.username %> </td>
         		<!-- <td><%= link_to "Ver", sale_path(sale), :class => "btn btn-small btn-info" %></td> -->
        		<!-- <td><%= link_to "Editar", edit_sale_path(sale), :class => "btn btn-small btn-warning" %></td> -->
         		<!-- <td><%= link_to 'Destroy',sale_path(sale), method: :delete, data:{confirm:'Are you sure?'}, :class => "btn btn-small btn-danger" %></td> -->
      		</tr>
       	<% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span1"><%= link_to 'Inicio', root_path, :class => "btn" %>
  </div>  
</div>
