<!DOCTYPE html>
<html>
<head>
  <title>MeYodaApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
	    <div class="row-fluid">
	    	<div class="span12">
			    <div class="navbar">
				    <div class="navbar-inner">
				    	 <a class="brand" href="#">MeYoda</a>
					    <ul class="nav">
						    <li><%= link_to "Inicio", root_path %></li>
						    <li><a href="#">Link</a></li>
						    <li><a href="#">Link</a></li>
					    </ul>
				    </div>
			    </div>
			</div>
		</div>
	    <div class="row-fluid">
			<div class="span12 offset1">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
